html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 0 !important;
}

ul[class],
ol[class],
ul {
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  // overflow-x: hidden;
}
// body {
//   overflow-x: hidden;
// }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class],
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}
